*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 62.5%;
}

.body {
  font-family: 'Signika Negative', 'sans-serif';
}

.body__blockedScroll {
  overflow: hidden;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 8rem;
  z-index: 10;
}

.header__container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.5em 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 20px #bdbdbdbf;
          box-shadow: 0px 1px 20px #bdbdbdbf;
  z-index: 15;
}

.header__logo {
  cursor: pointer;
}

.header__navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 13.5rem;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: #ffffff;
  z-index: 11;
}

.header__navigation--open {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header__listContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__listContainer--sublistOff {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 4.6rem;
}

.header__listContainer--sublistOff--opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  width: 16rem;
  padding: 1.2em 0.2em;
}

.header__list--subList {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0.5em;
}

.header__item {
  display: inline-block;
  color: #14151abf;
}

.header__item:hover {
  color: #F0004B;
}

.header__item::before, .header__item::after {
  display: block;
  position: relative;
  content: "";
  right: 0;
  top: 0;
  background: #f0004b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__item::before, .header__item::after {
  height: 1px;
  width: 0;
}

.header__item:hover::after {
  width: 100%;
}

.header__item:hover::before {
  width: 100%;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.hamburger__menu {
  width: 50px;
  height: 50px;
}

.hamburger__line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger__line1 {
  stroke-dasharray: 40 207;
  stroke-width: 6;
}

.hamburger__line1--opened {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.hamburger__line2 {
  stroke-dasharray: 50 60;
  stroke-width: 6;
}

.hamburger__line2--opened {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.hamburger__line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.hamburger__line3--opened {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.heroImg {
  height: 75rem;
  scroll-snap-align: start;
}

.heroImg__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url("../img/logo&heroImg/mobile version img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heroImg__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  right: 0;
  bottom: -25rem;
  background: #FDF1E2;
  padding: 2rem 4rem 2rem 2rem;
}

.heroImg__btn {
  font-size: 1.7rem;
  max-width: 150px;
  padding: 0.5em;
  background: #F0004B;
  border: 1px solid #F0004B;
  cursor: pointer;
  color: white;
  -webkit-transition: background-color .3s ease-out, border .3s ease-in-out, color .2s ease-out;
  transition: background-color .3s ease-out, border .3s ease-in-out, color .2s ease-out;
}

.heroImg__btn:hover {
  color: #F0004B;
  background-color: white;
  border: 1px solid #F0004B;
}

.heroImg__title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.heroImg__title, .heroImg__paragraf {
  margin-bottom: 10px;
}

.courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
  margin: 5rem;
}

.courses__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(4rem, 50rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(4rem, 50rem));
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.courses__container {
  width: 28rem;
  text-align: center;
  position: relative;
}

.courses__title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.courses__subTitle {
  font-size: 2rem;
  padding: 0.5rem 1em;
  margin-bottom: 1.5rem;
}

.courses__item {
  max-width: 20rem;
  border-radius: 2rem;
}

.courses__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.courses__btn {
  width: 15rem;
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 0.7rem;
  font-size: 1.2rem;
  color: white;
  background: #F0004B;
  border: 0.15rem solid #F0004B;
  border-radius: 1.5rem;
  -webkit-transition: background-color .3s ease-out, border .3s ease-in-out, color .2s ease-out;
  transition: background-color .3s ease-out, border .3s ease-in-out, color .2s ease-out;
  cursor: pointer;
}

.courses__btn:hover {
  color: #F0004B;
  background-color: white;
  border: 0.15rem solid #F0004B;
}

.courses__textItem {
  font-size: 1.5rem;
}

.courses__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #f0004ca6;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
}

.courses__overlay--active {
  opacity: 1;
  pointer-events: all;
}

.courses__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  min-height: 30rem;
  width: 80rem;
  max-width: 120rem;
  padding: 2.5rem;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-color: #23b1dd;
  border-radius: 2.5rem;
}

.courses__modal--active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.courses__titleModal {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.courses__paragraph {
  max-width: 40rem;
  font-size: 1.6rem;
  line-height: 200%;
  text-align: start;
  margin: 0 3rem;
  padding: 0 1.5rem;
  border-left: 2px solid black;
}

.courses__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.courses__close .fa-times {
  font-size: 3rem;
  -webkit-transition: color .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: color .1s ease-in-out, -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out, color .1s ease-in-out;
  transition: transform .1s ease-in-out, color .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.courses__close .fa-times:hover {
  color: red;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
  margin: 5rem;
}

.reviews__title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.reviews__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__cont {
  position: relative;
  overflow: hidden;
  width: 75rem;
  background-color: white;
}

.reviews__itemContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (75rem)[6];
      grid-template-columns: repeat(6, 75rem);
}

.reviews__item {
  padding: 1.2rem;
}

.reviews__boxImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__img {
  display: block;
  width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
}

.reviews__boxText {
  max-width: 70vw;
  padding: 1.5rem;
}

.reviews__boxText h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
}

.reviews__boxText p {
  font-size: 1.5rem;
}

.arrow {
  display: block;
  position: absolute;
  color: #8fa399;
  background-color: transparent;
  cursor: pointer;
  font-size: 4rem;
  top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 1rem;
  z-index: 10;
  border: none;
}

.arrow__left {
  left: -0.5rem;
}

.arrow__left:hover {
  left: 0.2rem;
}

.arrow__right {
  right: -0.5rem;
}

.arrow__right:hover {
  right: 0.2rem;
}

.arrow:hover {
  color: #f0004b;
}

.bgcBox {
  background-image: url(../img/contact/blue.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  background-size: cover;
  width: 20rem;
  height: 6rem;
  background-image: url(../img/contact/logoBlack.png);
  background-repeat: no-repeat;
  margin: 1rem;
}

.footer__containerList {
  margin: 1.2rem;
}

.footer__list {
  padding: 0.5rem 0;
}

.footer__item {
  font-size: 1.4rem;
  color: black;
}

.footer__item:hover {
  color: #F0004B;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
}

.contact__title {
  font-size: 2.3rem;
  max-width: 50rem;
  width: 100%;
  margin: 1.5rem 0;
  padding: 2rem;
  line-height: 1.3;
}

.contact__title--subtitle {
  font-size: 2.1rem;
  margin: 3.5rem 0;
  font-weight: bold;
  width: auto;
}

.contact__img {
  background-image: url(/img/contact/email.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 15rem;
  height: 15rem;
  margin-left: 2rem;
}

.contact__set {
  border: 1px solid #F0004B;
  margin: 2rem;
  padding: 1rem;
  max-width: 50rem;
}

.contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 30rem;
  font-size: 3.9rem;
}

.contact__form-input, .contact__form-input--second, .contact__form-message {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: #efefef;
  color: #595f6e;
  border: none;
}

.contact__form-message {
  resize: none;
}

.contact__form--second, .contact__form--third {
  margin: 3rem 0;
}

.contact__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.2rem;
  pointer-events: none;
}

.contact__name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__name--message {
  top: 0;
  bottom: 0;
}

.contact__btn {
  font-size: 1.5rem;
  width: 10rem;
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  background: #F0004B;
  border: 0.15rem solid #F0004B;
  border-radius: 0.3rem;
  -webkit-transition: background-color .3s ease-out, border .3s ease-in-out, color .2s ease-out;
  transition: background-color .3s ease-out, border .3s ease-in-out, color .2s ease-out;
  cursor: pointer;
}

.contact__btn:hover {
  color: #F0004B;
  background-color: white;
  border: 0.15rem solid #F0004B;
}

.contact__form-input:focus + .contact__label--first .contact__name,
.contact__form-input:valid + .contact__label--first .contact__name,
.contact__form-input--second:focus + .contact__label--second .contact__name,
.contact__form-input--second:valid + .contact__label--second .contact__name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.3rem;
  color: #f0004b;
}

.contact__form-message:focus + .contact__label--third .contact__name,
.contact__form-message:valid + .contact__label--third .contact__name {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  font-size: 1.3rem;
  color: #f0004b;
}

.box-author {
  height: 5rem;
  margin: 1rem;
  text-align: center;
}

.box-author__createdby, .box-author__copy {
  font-size: 1.6rem;
}

@media (min-width: 480px) {
  .heroImg__container {
    background-position: center;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .courses__item {
    max-width: 45rem;
  }
  .courses__title {
    font-size: 2.8rem;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 8rem;
  }
  .header__container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__listContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__listContainer--sublistOff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #fff;
  }
  .header__list {
    padding: 1.5rem;
  }
  .header__navigation {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: auto;
    font-size: 10rem;
    text-transform: uppercase;
  }
  .heroImg__container {
    background-image: url(../img/logo&heroImg/layout.png);
  }
  .heroImg__text {
    position: static;
    background: transparent;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 30rem;
    max-width: 22%;
  }
  .reviews__title {
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  .reviews__wrap {
    position: static;
    width: auto;
  }
  .reviews__item {
    padding: 2.5rem;
  }
  .reviews__cont {
    position: static;
    overflow: initial;
    width: 100%;
  }
  .reviews__itemContainer {
    -ms-grid-columns: (minmax(15rem, 45rem))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 45rem));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10rem 5rem;
  }
  .reviews__cont .fa {
    display: none;
  }
  .footer__menu {
    width: 50rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__title {
    margin: 0;
  }
  .contact__set {
    width: 100%;
  }
}

@media (min-width: 920px) {
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 3rem 0;
  }
}
/*# sourceMappingURL=style.css.map */