@use 'header';
@use 'footer';


.bids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20rem;
        margin: 5rem;
    }

    &__headingTitle {
        font-size: 4rem;
        text-align: center;
        padding: 2rem;
    }

    &__text {
        font-size: 1.5rem;
        width: 100%;
        max-width: 80rem;
        line-height: 2rem;
    }

    &__container {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;
        min-height: 100vh;
        max-height: 100%;
    }

    &__pictures {
        height: 20rem;
        width: 100%;
        background-image: url(../img/OfferCard/Vector.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 40rem;
        height: 72rem;
        margin: 0 3rem;
        background-color: #fdf1e2;
    }

    &__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        width: 32rem;
        height: 69rem;
        border: 2px solid black;
    }

    &__title {
        font-size: 3rem;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }

    &__titleCost {
        color: #000000;
        font-size: 2.8rem;
        padding: 2rem;
        text-align: center;
    }

    &__desc {
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }

    &__list {
        text-align: center;
        margin: 2rem;
        height: 20rem;
    }

    &__GeneralDesc {
        font-size: 1.6rem;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    &__btn {
        margin-top: 1rem;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 1.5rem;
        color: white;
        background: #F0004B;
        border: 0.15rem solid #F0004B;
        border-radius: 0.3rem;
        transition: background-color .3s ease-out,
            border .3s ease-in-out,
            color .2s ease-out;
        cursor: pointer;

        &:hover {
            color: #F0004B;
            background-color: white;
            border: 0.15rem solid #F0004B;
        }
    }
}

.information {
    max-height: 20rem;
    height: 100%;
    margin: 2rem;

    &__title {
        font-size: 2rem;
        padding: 0.4rem;
    }

    &__item {
        font-size: 1.5rem;
        padding: 0.2rem;
    }

    .star {
        font-size: 1.2rem;
        color: #F0004B;
        margin: 0.2rem;
    }
}